[2018-09-03 11:07] alexellis opened #1 "Add second template with http.HandlerFunc"
This should mirror the existing template and give an option like `--lang golang-httpfunc`

Add examples to the README.md file too.

[2018-09-19 11:17] alexellis opened #4 "Provide armhf variants"
Provide duplicated versions of the two templates which end with "-armhf" as the name.

This is to add better support for our ARM users.

[2018-09-19 11:17] alexellis commented on #1
Derek close: resolved.

[2018-09-28 16:29] rdimitrov commented on #4
@alexellis: I believe this issue can be closed. I must have missed the "closing #" annotation in the PR :neutral_face:

[2018-09-28 19:50] #4 closed, assigned to nobody

[2018-09-30 13:15] #1 closed, assigned to nobody

[2018-10-13 19:22] alexellis opened #7 "No static file support in golang-middleware"
## Expected behaviour

Static files such as Golang HTML templates or similar assets can be read and served by the function

## Current behaviour

Static files such as Golang HTML templates are not present in the function image

[2018-10-13 19:23] alexellis commented on #7
cc @stefanprodan

[2018-10-13 19:24] alexellis opened #8 "golang-middleware: Body not closed"
In the default handler for golang-middleware the body is not closed of the request. This is generally done when reading the body.

I'd expect to see something like:

[code]

[2018-10-13 19:24] alexellis commented on #8
cc @stefanprodan

[2018-10-14 17:55] alexellis opened #9 "Timeout should match value in read/write_timeout"
## Expected

Timeout value in main.go should match value in read/write_timeout env-vars (these are Golang durations)

## Actual

Hard-coded to 3 seconds

This is the same in both variants of the template.

## Merge criteria

For a merge this will need:

* demonstrated (with console output) end-to-end testing showing timeout met and cancelled, a request within timeout limits
* golang-http and golan

[2018-10-14 17:57] alexellis commented on #8
https://github.com/openfaas-incubator/golang-http-template/blob/master/template/golang-middleware-armhf/main.go#L16

https://github.com/openfaas-incubator/golang-http-template/blob/master/template/golang-middleware/main.go#L16

[2018-10-14 17:59] alexellis commented on #7
See example for Official Golang template - https://github.com/openfaas/templates/blob/master/template/go/Dockerfile#L31

The `chown` step is also required.

[2018-10-15 05:23] 0sc commented on #8
Can I work on this?

[2018-10-15 09:31] alexellis commented on #8
Sure, are you confident you can do the testing too?

Alex

[2018-10-15 16:26] 0sc commented on #8
I can try. What should the testing look like?

[2018-10-15 20:33] alexellis commented on #8
Building a function with the template, deploying it and invoking it.

[2018-10-16 04:45] 0sc commented on #8
I was thinking since the issue is about fixing the not closed request body, testing with default http requests might suffice.

[2018-10-17 20:47] alexellis commented on #8
Derek close: fixed by @rdimitrov

[2018-10-17 20:47] #8 closed, assigned to nobody

[2018-10-17 20:48] alexellis commented on #8
@0sc there's a couple of more small issues on this repo if you're interested.

[2018-12-17 17:37] alexellis commented on #9
@ewilde PTAL?

[2019-01-17 21:25] embano1 opened #18 "faas-cli build error with dep"
`faas-cli build ...` fails to build the image when the function contains external libraries vendored with `dep`.

Steps to reproduce:

[code]

Then it fails at Dockerfile step 7:

[code]

Took me a while to figure out how to work around that. Before `faas-cli build` remove the folder `openfaas-incubator` in the handler.go `vendor` folder. Then build works fine (as it will pull in the dependency fr

[2019-01-17 22:04] alexellis commented on #18
Good find Michael.

This seems valid, although I didn't run into it in my usage of the template with @ewilde where we also vendored dependencies for the Monzo demos. I wonder what was different?

My suggestion as a workaround would be to try to add a constraint whereby you skip / omit the sdk dependency in the Gopkg.toml or delete it manually as you are doing now.

We need to figure out whether it

[2019-01-17 22:04] alexellis commented on #18
Derek add label: help wanted

[2019-01-17 22:05] alexellis commented on #18
I got a similar error with your example:

[code]

[2019-01-17 22:09] alexellis commented on #18
I wonder if we can edit the Dockerfile so that the vendor folder gets moved one level up ready for the build?

[2019-01-18 12:55] embano1 commented on #18
Couple of thoughts on this:

- `dep` does not support nested `vendor` folders (https://github.com/golang/dep/issues/985)
- moving all dependencies (incl. openfaas-sdk) into the `function` subfolder won't compile (`main.go` can't resolve openfaas-sdk dependencies)
- moving all dependencies (incl. those from the function `handler.go`) into a `vendor` folder in the `main.go` build context folder (i.e

[2019-03-12 16:36] #7 closed, assigned to nobody

[2019-06-18 07:55] ewilde commented on #9
Closed by #23

[2019-06-18 07:56] ewilde commented on #9
Derek close

[2019-06-18 07:56] #9 closed, assigned to nobody

[2019-06-29 10:33] ewilde opened #25 "go-http template query string not available in function"
## Summary
In the `go-http` template headers, body and query string are copied over to the request used to call the function, however the query string is not.

https://github.com/openfaas-incubator/golang-http-template/blob/7bce4849a2657e94d00b0411f2da3ae8a902f3ff/template/golang-http-armhf/main.go#L33-L39

## Proposal

1. Copy query string

or

2. Document in the template why this is not desired

[2019-06-29 11:27] alexellis commented on #25
Please go ahead and submit the fix for this.

I think you'll see a similar feature added in the node10-express template to see what the idiomatic style we used was.

[2019-06-29 11:27] alexellis commented on #25
Derek add label: design/approved

[2019-06-29 12:55] ewilde commented on #25
Derek assign: me

[2019-07-06 20:04] #25 closed, assigned to ewilde

[2019-07-16 08:40] s8sg opened #27 "Recover for panics in function Handler for HTTP mode"
In current code we are calling the http function handler as
[code]
In case there is a panic inside the handler the `handler` server process will exit, failing the future requests for the same.

Optionally it can be handled with a `recover` as:
[code]
In this case the `handler` server keep running

[2019-07-16 09:38] LucasRoesler commented on #27
I like this, is it something you would be willing to also contribute?

[2019-07-16 09:47] s8sg commented on #27
@LucasRoesler Sure

[2019-07-16 12:14] alexellis commented on #27
Hi, thanks for your suggestion.

This is actually by design. I think that it should fail and that the container should be restarted.

If someone has a specific need for a catch-all, then the PR can be forked. I might change my mind in the future, but this is where I am on it at the moment.

Alex

[2019-07-16 13:09] s8sg commented on #27
That make sense. One can handle the panic inside the request handler itself and return a response accordingly. It gives more flexibilities to determine whether to recover or not

[2019-07-16 19:01] alexellis commented on #27
I appreciate the suggestion. Please keep on helping us to make OpenFaaS better 👍

[2019-07-16 19:01] #27 closed, assigned to nobody

[2019-07-16 19:01] alexellis commented on #27
/add label: wontfix

[2019-08-22 11:10] LucasRoesler opened #28 "Update Docker build layer to go 1.11.13"
Per the security announcement https://groups.google.com/forum/#!topic/golang-announce/65QixT3tcmg we should update the docker build layers to at least Go 1.11.13

## Possible Solution

The builder layer in the Dockerfile should use `golang:1.11`

## Related
### Update Dockerfile and rebuild/release
https://github.com/openfaas/faas/issues/1291
https://github.com/openfaas/templates/issues/170
https:

[2019-08-22 13:51] alexellis commented on #28
Please also use this Golang version https://github.com/openfaas-incubator/of-watchdog/releases/tag/0.6.0

[2019-08-22 14:18] #28 closed, assigned to nobody

[2019-09-11 21:44] marct83 opened #30 "Add Support for Path Variables"
Would it be possible to add support for path variables?
Example:
GET http://localhost:1323/users/123 # Fetch a user who has id 123

[2019-09-24 17:07] rajatjindal opened #31 "implicit redirect with go-middleware template"
my usecase is to have a function that receives a URL as parameter, and after doing some processing redirects to that URL.

Now the redirect is working, but the URL in the browser still points to the original function URL.

I believe it can be fixed using client.CheckRedirect thing in golang, but i am not exactly sure where will that change be needed in openfaas cloud.

To reproduce:
`https://rajat

[2019-09-24 18:47] alexellis commented on #31
We need to add "don't follow redirect" here https://github.com/openfaas-incubator/golang-http-template/blob/master/template/golang-middleware/main.go

Check the watchdog for an example of how to implement it. I'd accept a PR.

[2019-09-25 05:10] rajatjindal commented on #31
i created local docker image of of-watchdog, and further created docker image of the function using middleware template, and could not reproduce this issue when running locally.

here is the image built locally for this function:

`rajatjindal/redirect-test:issue-31`

to verify i did following:

started the function locally:

[code]

Hit the function directly (bypass the of-watchdog):

[code]

Hit

[2019-09-25 05:12] rajatjindal commented on #31
I am suspecting something else on openfaas-cloud is doing the magic here? or the version of of-watchdog on openfaas-cloud is not latest?

I do plan to setup openfaas-cloud on my kubernetes cluster, and try it out there, if you have any suggestions/pointers, it will be great.

[2019-09-25 07:01] alexellis commented on #31
This is the code that you need:

https://github.com/openfaas-incubator/of-watchdog/commit/1ac9c410a3ef50c686c1b6963409142903578ba8

Did you patch the watchdog with it?

[2019-09-25 07:09] alexellis commented on #31
This is the code I was thinking of https://github.com/openfaas-incubator/of-watchdog/commit/1ac9c410a3ef50c686c1b6963409142903578ba8

But in retrospect, this code is if you are using a HTTP client, which we are not here.

Look at the edge-router to see whether it follows redirects or not? It may be the part which you're hitting.

I did client-side JavaScript redirects for the OpenFaaS official fun

[2019-09-25 07:47] rajatjindal commented on #31
got it. thanks for the pointer Alex.

is it possible to check logs of edge-router on openfaas-cloud? I tried using ofc-bot, but it does not show those logs (rightfully so i guess)

I'll add edge-router to my local setup tonight to narrow down the issue.

[2019-09-25 10:05] alexellis commented on #31
I've made a fix for the edge-router.

For example try out:

https://github.com/alexellis/redirect-http/commits/master

Alex

[2019-09-25 10:05] #31 closed, assigned to nobody

[2019-09-25 10:36] rajatjindal commented on #31
yep, works now. thanks for the quick fix.

[2020-01-24 10:32] alexellis opened #33 "Go modules - unable to get a sub-package to work"
## Description

When adding a sub-package to a function using golang-middleware and Go modules, I'm unable to get it to build. The unit tests fails immediately, then the go build fails if the test step is commented out.

[code]

## Sample repo

https://github.com/alexellis/golang-middleware-relative-import

The top-level entry-point is main.go

main.go is a module and references a folder "function

[2020-01-24 10:38] LucasRoesler commented on #33
Per the official wiki https://github.com/golang/go/wiki/Modules#gomod

[2020-01-24 10:39] alexellis commented on #33
@LucasRoesler can you highlight what you want us to take from that quote, it isn't obvious to me what I'm supposed to get from it.

[2020-01-24 10:39] LucasRoesler commented on #33
this means nested uses of replace will not work

[2020-01-24 10:46] alexellis commented on #33
There is an alternative without Go modules which appears to work in Docker, but does not work properly on the local system.

In the repo, I can set this relative import, and then turn off `go modules` -> `faas-cli build --build-arg GO111MODULE=off` - then both the tests and the build work fine.

[code]

Setting `"handler/function/handlers"` works only because it matches the GOPATH in the Docker bu

[2020-01-24 10:51] alexellis commented on #33
So here is a hacky suggestion, can we offer a MOD_REPLACE.txt that can be injected into the root-level main.go?

By default it'd be:

[code]

Then users could write into GO_REPLACE.txt like follows:

[code]

And the final Go.mod file for main.go would have that appended.

[2020-01-24 11:09] alexellis commented on #33
I've opened #34 which seems to work and provide a workable solution. @LucasRoesler @stefanprodan did you have any other ideas to unblock this, or anything else we should try?

[2020-01-24 13:37] #33 closed, assigned to nobody

[2020-01-29 15:13] SidGrundfos commented on #18
Hello.
I have an import as below -
import (
	"log"

	"github.com/nats-io/nats.go"
	"github.com/nats-io/stan.go"
)
when I run go install publish-msg-go/handler.go it compiles ok
but when faas-cli build it gives me error

function/handler.go:6:2: cannot find package "github.com/nats-io/nats.go" in any of:
        /usr/local/go/src/github.com/nats-io/nats.go (from $GOROOT)
        /go/src/github.com/

[2020-01-29 15:14] alexellis commented on #18
I've been able to use nested folders with dep, Incan share an example if you want?

Ideally you should be looking at Go modules now. Try the example that I added to the readme last week.

[2020-01-29 15:18] SidGrundfos commented on #18
Actually I am trying to test with NATS streaming and want to execute a small piece of code to send/publish messages. I have installed these modules in $GOPATH. when I build locally it builds OK but via faas-cli it fails. Any suggestion how I can make it work?

[2020-01-31 13:12] LucasRoesler commented on #18
@SidGrundfos can you push your test function to a new git repo and share that? It will be easier to debug.

Also, for your specific case, have you seen the test functions in the nats-connector repo? https://github.com/openfaas-incubator/nats-connector/tree/master/contrib/test-functions
And the "try it out" instructions https://github.com/openfaas-incubator/nats-connector#try-it-out

Even if you ar

[2020-02-04 08:30] SidGrundfos commented on #18
Hello its is just a very small piece of code.

package function

import (
	"log"
	"fmt"
	"net/http"

	"github.com/nats-io/nats.go"
	"github.com/nats-io/stan.go"
)

// Handle a function invocation
func Handle() {
	nc, err := nats.Connect("nats://example-nats:4222")
	if err != nil {
		log.Fatal(err)
	}
	sc, err := stan.Connect("example-stan", "client-123", stan.NatsConn(nc))
	if err != nil {
		log.F

[2020-02-04 08:32] alexellis commented on #18
cc @LucasRoesler

[2020-02-04 08:33] alexellis commented on #18
@SidGrundfos it looks like Lucas asked for a complete GitHub repo so that we can reproduce the issue. Could you provide that?

[2020-02-06 10:30] alexellis opened #35 "Graceful shutdown for Kubernetes"
There appears to be an issue with graceful shutdowns. This occurs when Kubernetes sends a SIGTERM to our function's Pod.

We have two processes:

* of-watchdog
* Go handler / HTTP server

The of-watchdog catches the signal and waits for `wait_timeout` env-var, but the child process appears to die immediately

We need to copy the code / approach of the of-watchdog into the Go handler for all templa

[2020-02-06 10:55] #35 closed, assigned to nobody

[2020-02-06 14:08] SidGrundfos commented on #18
Hi Alex & Lucas, can you please close this issue. I am working with C# now and its working fine. Don't need it anymore. Thanks for all the help.
If only if you could give me any docs or samples regarding Async / NATS Streaming (C#)
Thanks again!

[2020-02-06 14:14] alexellis commented on #18
Feel free to ask on Slack.

[2020-02-06 14:14] #18 closed, assigned to nobody

[2020-02-06 14:14] alexellis commented on #18
/msg: slack

[2020-02-06 14:14] alexellis commented on #18
I'll lock the thread now since it's old, if anyone lands here with an issue, please open your own one.

[2020-02-06 14:15] #30 closed, assigned to nobody

[2020-02-06 14:15] alexellis commented on #30
Yes, this is supported and documented in the README.

[2020-03-06 17:23] codegold79 opened #37 "Broken link to golang-middleware section of README.md"
Under the section at [2.0 golang-middleware](https://github.com/openfaas-incubator/golang-http-template#20-golang-middleware), there is a command that results in an error.

The command is
[code]

The output from running that command is
[code]

[2020-03-06 22:12] alexellis commented on #37
Do you want to send a PR to fix?

[2020-03-07 12:11] #37 closed, assigned to nobody

[2020-04-05 08:43] LucasRoesler opened #40 "golang-http does not allow graceful request cancelling"
Because the [go-function-sdk](https://github.com/openfaas-incubator/go-function-sdk) does not propagate the original request context in the `Request` object, the handler can not correctly respond to the request being cancelled by the user. In the Go stdlib this information is generally conveyed by the checking if `request.Context()` is done.

If the handler has an expensive operation that should b

[2020-04-05 08:47] alexellis commented on #40
Thanks for this example, please can you now show us how it would work differently with the cancellation in place?

[2020-04-05 08:49] LucasRoesler commented on #40
I was just about to add that, I would expect this function to stop as soon as the `ctrl-c` happens

[code]

[2020-04-05 08:54] alexellis commented on #40
This would make a good addition to the README.md as an example:

I.e. "How to cancel a long running operation" or similar

[2020-04-05 09:16] alexellis commented on #40
Is this issue resloved now?

[2020-04-05 09:21] LucasRoesler commented on #40
I will PR the updated docs against this, but i think it is fixed once the of-watchdog is updated in the templates as well

[2020-04-05 09:53] #40 closed, assigned to nobody

[2020-05-07 13:16] Place1 opened #42 "Improve caching for sub-package cache"
I'm currently using `golang-middleware` and following the Advanced use-case where you have your own go package in a subfolder and make use of `GO_REPLACE.txt`.

The template works for me so far but build/deploy is very slow because it downloads dependencies every time.

Is there a way we could improve the Dockerfile so that a `go mod download` could be cached?

[2020-06-11 07:58] chennqqi opened #43 "not set ADDITIONAL_PACKAGE arg"

[2020-06-11 07:58] #43 closed, assigned to nobody

[2020-06-11 07:58] alexellis commented on #43
/label: Spam issue

[2020-06-11 07:59] alexellis commented on #43
@chennqqi if you want technical support or help from the community, fill out the whole template in the future, or as we recommend, seek help on Slack

[2020-06-11 07:59] alexellis commented on #43
/msg: slack

[2020-08-13 08:26] hazcod opened #45 "Feature: replace alpine Docker image with scratch"
Hi, I was looking at the golang template and noticed the image being based on an Alpine image.
Wouldn't it make more sense to base ourselves on a scratch image with non-root user?
e.g. look at https://github.com/ironpeakservices/iron-scratch/blob/master/Dockerfile

I can imagine smaller images (and no shell!) greatly reduce the size again and the attack surface.
Additional templates that require s

[2020-08-13 12:41] alexellis commented on #45
Hi @hazcod Alpine Linux was chosen as a base image for a reason and barely adds any additional size to the image. You are free to fork the templates and customise as you wish.

We also don't encourage people to raise PRs without approval / discussion. See the contribution guide: https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md#i-have-a-great-idea

Alex

[2020-08-13 12:44] hazcod commented on #45
Hi Alex, where can I take this up for discussion? The main reason I propose this change is to have secure defaults for users that wouldn't change the template and use basic Go functions. Any advanced user will have to fork either way it since it's read-only.

It's easy to run an old(er) linux distribution and leave all those packages lying around.

Not to mention, it might be nice to easily swap t

[2020-09-06 08:24] alexellis opened #47 "Add multi-arch support, with fallback to current behaviour"
## Task

Add multi-arch support, with fallback to current behaviour

Update the existing Dockerfiles as per: https://github.com/alexellis/multiarch-templates/blob/master/template/go-multiarch/Dockerfile

## Testing instructions

Test as per: https://github.com/alexellis/multiarch-templates

And make sure that `faas-cli up` still works without any multi-arch considerations.

[2020-09-06 08:27] utsavanand2 commented on #47
I would love to take a go at this

[2020-09-06 08:42] alexellis commented on #47
Please do. You should just need to copy and paste from the example above.

[2020-09-08 14:23] utsavanand2 commented on #47
@alexellis PR #48 addresses this issue

[2020-09-11 10:43] #47 closed, assigned to nobody

[2020-11-08 23:37] brianwyka opened #50 "Feature: Add Busybox Binary Version"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

Requesting a new feature which allows for a `busybox:glibc` based `docker` image.  Here is one that I have come up with:
https://github.com/brianwyka/openfaas-templ

[2020-11-08 23:40] brianwyka commented on #50
@alexellis, do you see this as a reasonable addition?  I was going to settle for using this as a custom template in OpenFaaS community cluster, but I received an error saying that custom templates are not allowed.

https://github.com/openfaas/openfaas-cloud/blob/cca5c90eeab285f7af229389ff8f219deb6c72c7/git-tar/function/handler.go#L111-L120

Since I am unable to update the gateway config, I'm seein

[2020-11-17 01:16] tjulym opened #51 "received non-zero exit code from build, error: invalid platform architecture "amd64}""
when I build the template, like `faas-cli build -f golang-middleware-test.yml`

I get the following output

[code]

## My Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

[code]

* Docker version `docker version` (e.g. Docker 17.0.05 ):

[code]

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?

[code]

* Operating System and version (e.g. Linux, Windows, MacOS):
`

[2020-11-18 12:17] tjulym commented on #51
Find the solution, all works ok after update docker. It seems 18.06.0 is the oldest version that can work well.

[2020-11-18 12:17] #51 closed, assigned to nobody

[2020-11-25 20:22] alexellis commented on #50
Are you not compiling a static binary? Or do you need CGO?

My advice to you is still the same as a couple of weeks ago. Host your own openfaas on managed Kubernetes or with faasd on a single VM.

We have plenty of tutorials on how to do that.

I'll close the issue as I can't see this as benefitting the broader community at present. You can use your own custom template on your own deployment on Op

[2020-11-25 20:22] #50 closed, assigned to nobody

[2021-01-03 16:00] alexellis commented on #45
Thanks for your interest.

We would be more likely to move to distroless than SCRATCH, but then a secondary debug container is required for all templates in order to shell into containers and have tools during development.

If the community templates are not to your taste then you're welcome to fork and maintain your own.

[2021-01-03 16:00] #45 closed, assigned to nobody

[2021-01-03 16:01] alexellis commented on #42
Why do you think the modules are downloaded each time? Do you want to provide a sample that reproduces this?

(next time, if you use the template, you will see that we ask for all of these things on issues)

[2021-01-03 16:01] #42 closed, assigned to nobody

[2021-03-03 07:24] Dentrax opened #55 "Getting `go: inconsistent vendoring` error when a module is located within function"
## Expected Behaviour
It should work? 🤷‍♂️

## Current Behaviour
[code]

## Steps to Reproduce (for bugs)
We were following the template documentation guide as described [here](https://docs.openfaas.com/cli/templates/).

1. `$ faas-cli template store pull golang-http`
2. `$ faas-cli new notifier-fn --lang golang-http --prefix Dentrax`
3. `$ cd notifier-fn`
4. `$ go mod init github.com/Dentrax/foo`

[2021-03-03 08:07] alexellis commented on #55
@LucasRoesler ptal

[2021-03-03 08:09] alexellis commented on #55
My initial thoughts are:

Turn go modules off (the build arg, but don't delete anything), and it should continue to work.

Or remove vendoring and it will continue to work.

Vendoring and modules together (in the build) have started to fail in recent Go versions.

Please try both and report back.

[2021-03-03 10:57] Dentrax commented on #55
Hmm, now I just turn off `GO111MODULE` flag (by setting `off`) and removed it from the build flags. Vendored the function afterward: `$ go mod vendor`

Although `$ go build --ldflags "-s -w" -a -installsuffix cgo -o handler .` works well manually in the function directory, I get another error during the Docker build phase:

[code]

Setting the Go version to `1.15` did not resolve the issue. 🤔

[2021-03-03 12:06] LucasRoesler commented on #55
@Dentrax i have noticed this issue as well. I ran into it last week, but I have not found a backwards compatible solution. Last weekend when I ran in to the issue, i opted to use the http middleware template instead as a quick fix. But I am still investigating how to fix this template. I need to determine if the middleware template is actually working _or_ just lucky because it doesn't import any

[2021-03-03 14:37] Dentrax commented on #55
@LucasRoesler Thanks for the detailed explanation. We have moved the function from `golang-http` to `golang-middleware`, as you said. Now it rocks. ^^

`$ faas-cli new notifier2-fn --lang golang-middleware --prefix Dentrax`

I think it was some kind of specific bug at the `golang-http` template. Version: `github.com/openfaas/templates-sdk@v0.0.0-20200723092016-0ebf61253625`

[2021-03-08 13:02] LucasRoesler commented on #55
@alexellis  I started a looking at a fix that would  simply aligned the http and the middleware templates. But there is an issue.

The http template includes a vendor folder, this is a problem in vendor module. It produces this error due to Go validating that the mod file and the vendor folder are in sync, this produces the following error

[code]

To work around this error, you can delete the ven

[2021-03-08 13:33] LucasRoesler commented on #55
One thing to note, i tried using `go mod tidy` to synchronize the go.mod and vendor during the Docker build, but it still results in and error

[code]

The cause is the replace we use in the template go.mod

[2021-03-17 17:47] alexellis commented on #55
Do you know if these steps affect caching? Can you try some things and find out.

[2021-03-18 09:38] LucasRoesler commented on #55
@alexellis what are some things that you consider as proof? just running the build twice and seeing that step reported as cached?

[2021-03-18 09:41] LucasRoesler commented on #55
Here is a second build of my test function, all of the steps report as cached

[code]

[2021-03-18 09:45] LucasRoesler commented on #55
Same with modules off  and a vendor folder exists

[code]

[2021-03-18 09:54] alexellis commented on #55
What about with buildkit disabled?

[2021-03-18 11:34] LucasRoesler commented on #55
@alexellis i will post the logs in a moment, but the docker docs are prtty clear about cache invalidation for `RUN` statements

https://docs.docker.com/engine/reference/builder/#:~:text=The%20cache%20for%20RUN%20instructions%20isn%E2%80%99t%20invalidated%20automatically%20during%20the%20next%20build

There is no reason to expect the `if/else` to cause a cache invalidation any more than the line im

[2021-03-18 11:34] LucasRoesler commented on #55
Here are the logs when buildkit is disabled

[code]

[2021-03-31 16:24] alexellis commented on #55
Fixed by https://github.com/openfaas/golang-http-template/pull/56

[2021-05-09 01:51] tatemz commented on #55
After #56 - what's the recommended practice? I'd love to see an example repo that I can go by.

[2021-05-09 16:28] LucasRoesler commented on #55
@tatemz are you looking to use Go modules with vendoring or non-modules with vendoring? or no vendoring and just Go modules?

[2021-05-09 17:41] tatemz commented on #55
I use faas-cli in a mono repo atm where my functions live in folder with subfolders organized by type. Ideally, I feel that putting a `go.mod` in each function handler is an idea situation in order that each function could manage it's own third party deps. That said, I don't like the idea of `vendor` directories littered throughout my project, but maybe that's just the way it's gotta be.

In short

[2021-05-09 19:34] LucasRoesler commented on #55
it should "just work" if you add the go.mod and go.sum to each function, no vendor folder required.

I think you are right about the mix of "copy" + replace to copy a shared folder from the same monorepo, but i would need to try it to say for sure

[2021-05-09 19:41] tatemz commented on #55
Another note. I think this can be more idempotent:

[code]

With a bit of refactoring:

[code]

`GO_REPLACE.txt` would have to contain the `go mod edit` command with something like:

[code]

This way any replacements that may already exist with that package name would be updated rather than duplicated (which would cause an error). See `go mod edit` [docs](https://golang.org/ref/mod#go-mod-edit)

T

[2021-05-10 07:25] LucasRoesler commented on #55
@tatemz that is a good idea, with `go mod edit`, but we did remove the `GO_REPLACE.txt` requirement and the script now has this section that is supposed to rewrite the existing replace statements https://github.com/openfaas/golang-http-template/blob/5d6376e8aa1af5fa347c3205daa90d2050b64091/template/golang-http/modules-cleanup.sh#L44-L50 so that the replace statements in your `go.mod` should just w

[2021-07-06 18:10] tomaswarynyca opened #57 "Cannot find package"
Hi, when I create the project and generate the image I get this error
Do you have any idea why?

[code]

[2021-11-03 09:36] alexellis opened #62 "Enable Go modules as a default"
## Description

Enable Go modules as a default

Update the templates to use GO111MODULE=on as a default

Then clarify in the docs or the README here how to turn it off, for those who need to vendor private code.

## Testing

Test end to end to show that the build arg to turn off modules still works

Show output that also shows the default is working without additional settings.

[2021-11-03 09:37] alexellis commented on #62
/add label: good first issue, help wanted

[2021-11-03 10:58] cpanato commented on #62
i will work on that, expected to have a pr by the end of the week

[2021-11-03 13:41] alexellis commented on #62
Thanks Carlos

[2022-02-21 09:32] #62 closed, assigned to cpanato

[2022-02-21 09:33] alexellis commented on #55
Looks like we have resolved this issue, so I'm going to close it.

If anyone lands here, needing help. Raise your own issue please.

[2022-02-21 09:33] #55 closed, assigned to nobody

[2022-02-21 09:33] alexellis commented on #55
/lock: resolved

[2022-02-21 09:34] alexellis commented on #57
Please fill out the whole issue template, when you delete it, we have no idea what you're doing and how to help you.

[2022-02-21 09:34] #57 closed, assigned to nobody

[2022-02-21 09:34] alexellis commented on #57
/lock: invalid issue template

[2022-02-25 11:56] lapwat opened #64 "Cannot build with go modules"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

I would like to use go modules in my openfaas function.

## Expected Behaviour

I whould be able to build my function by enabling GO111MODULE.

## Current Behaviour

[2022-02-25 12:13] alexellis commented on #64
@LucasRoesler could you take a look please?

[2022-02-25 12:15] alexellis commented on #64
@lapwat my guess is that you haven't read the docs for this, you should be setting `--build-arg GO111MODULE=on`

https://docs.openfaas.com/cli/templates/

We also cover this extensively in my eBook on OpenFaaS and Go -> https://gumroad.com/l/everyday-golang

[2022-02-25 12:15] #64 closed, assigned to nobody

[2022-02-25 12:15] alexellis commented on #64
/add label: support,question

[2022-02-25 12:19] lapwat commented on #64
I guess that this option is now enabled by default: https://github.com/openfaas/golang-http-template/pull/63

I also said in the context that I have tried both options:
- `faas-cli build -f test-module.yml --build-arg GO111MODULE=on`
- setting GO111MODULE=on in the yml file

What did I miss ?

[2022-02-25 14:37] lapwat commented on #64
Can we reopen the issue ?

[2022-02-25 14:49] welteki commented on #64
Judging by the error you get, your function is not a go module.

As mentioned in the [docs](https://docs.openfaas.com/cli/templates/) you should run `go mod init function` to initialize your function and than use `go get` to manage your dependencies.

[2022-02-25 15:07] lapwat commented on #64
I think that this process of 'go getting' packages is handled by the Dockerfile.

Note that I don't have this error when using the original `go` template.

[2022-02-26 04:48] nitishkumar71 opened #65 "Use of-watchdog 0.9.3 to suppress custom health check logging messages"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

Custom health check are being recorded and producing noise in the logs

## Expected Behaviour

Custom health check should be suppressed in logs

## Current Behaviou

[2022-02-26 15:11] lapwat commented on #64
I have succeeded to build the image in this issue. I had to `go mod init function` and `go get` **inside the handler folder** like you advised.

I do not have to type those commands when working with the `go` template which was misleading.

[2022-03-01 03:55] occamist opened #67 "Replace ioutil"
## My actions before raising this issue
- [X] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [X] Read/searched [the docs](https://docs.openfaas.com/)
- [X] Searched [past issues](/issues)

Any possibility to replace ioutil with non deprecated method? I can just use io package which is the most direct & explicit way after 1.16v, I can also see some var

[2022-03-01 19:36] alexellis commented on #67
@MrWormHole I don't understand what issues you are facing. This sounds like preference / purism, but I want to check I'm not misunderstanding.

Can you explain clearly what problem(s) you're facing using the golang-http template?

[2022-03-02 09:46] occamist commented on #67
yes, it is mostly a convention thing but I don't see a reason to use deprecated methods after 1.16, it gives an impression of unmaintained templates. Also every time, I create faasd project I have to import this as handler github.com/openfaas/templates-sdk/go-http (this repository started to bother me, I am not sure if this is really required to have it there and not in this repo) and I would pref

[2022-03-02 12:19] alexellis commented on #67
These would still need to exist somewhere, and need to be imported.

I don't really follow what alternative you're suggesting.

Incorrect, we have hundreds of users running on many versions of Go. Forcing them onto Go 1.17 features will break compatibility immediately and cause problems for businesses.

At time of speaking, either package is suitable for production and does not present a compilati

[2022-03-02 12:19] #67 closed, assigned to nobody

[2022-03-02 12:20] #65 closed, assigned to nobody

[2022-03-02 12:29] alexellis opened #69 "Add a GitHub Action to do a test build for both templates"
Add a GitHub Action to do a test build for both templates

## Expected Behaviour

We should create a function with and without a Go template with both templates during CI and validate that they can build with docker or faas-cli build.

## Current Behaviour

Manual testing

## Possible Solution

Add a bash / contrib script to do this and a GitHub Action to run on push/pr.

## Context

Backwards com

[2022-03-02 12:29] alexellis commented on #69
/add label: good first issue, help wanted

[2022-04-13 20:22] kevin-lindsay-1 opened #73 "Always downloading already included vendored dependencies every build"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

As of the 1.18 update, every time a function builds it downloads dependencies, even if they're already vendored. I cannot find a series of build args that work with

[2022-04-13 20:23] kevin-lindsay-1 commented on #73
no headings were deleted, thanks derek.

[2022-04-13 20:29] kevin-lindsay-1 commented on #73
I also notice the following error coming from builds now, as well:
[code]

[2022-04-14 06:36] alexellis commented on #73
@LucasRoesler PTAL?

[2022-04-14 06:37] alexellis commented on #73
@kevin-lindsay-1 can you provide a sample project please, as simple as you like in a public GitHub repo

[2022-04-14 06:44] alexellis commented on #73
Can I confirm that you're enabling GO111MODULE, have external dependencies in go.mod and also have a vendor folder at the same time?

[2022-04-14 16:31] kevin-lindsay-1 commented on #73
To make sure I'm reading the docs correctly, doesn't `GO111MODULE: off` effectively disable the perks of modern modules?

If you leave it set to on, and set the `mod=vendor` flag, the CLI explicitly yells at you that vendoring isn't supported for workspaces.

[2022-04-14 17:17] kevin-lindsay-1 commented on #73
@alexellis

Vendoring isn't working. For the sake of this conversation, let's assume that any other errors were in the troubleshooting process, and can safely ignore them in the context of this conversation.

Yes, yes, and yes.

Leaving go111module on and turning vendor on produces an error message from go, stating that if you'd like to use vendoring you should disable workspaces.

[2022-04-15 06:08] LucasRoesler commented on #73
When you use vendoring, which perks are you using at build time? Please be specific.

I am not aware of anything different about the build with vendor if you have modules on or off.

The main benefits from modules come from the fact that pulling happens automatically during builds, the minimal version selection algorithm used when constructing the dependency tree, and not needing GOPATH.

But when

[2022-04-15 14:17] kevin-lindsay-1 commented on #73
That's a good point.

I would like to at least address though, that regardless of technical ramifications (or lackthereof), design intent goes a long way here. A user might not understand why you'd opt-in to workspaces only to have them opt-out for the sake of performance, on a build no less. A Go maintainer might ask a similar question, and might even argue that opting in just to opt-out is an ed

[2022-04-16 08:56] LucasRoesler commented on #73
@alexellis and @kevin-lindsay-1 I have created a new patch to make the handling of the vendor args automatic. Please take a look at https://github.com/openfaas/golang-http-template/pull/74

You can also see an example in my test repo, along with instructions of how you can also test it https://github.com/LucasRoesler/golang-http-template-examples

[code]

[2022-04-16 13:30] kevin-lindsay-1 commented on #73
I think that solution makes sense, given the nature of this template as a development tool, rather than a static project.

[2022-04-26 11:36] LucasRoesler commented on #73
@alexellis just a quick bump, there is a PR ready that imlements this https://github.com/openfaas/golang-http-template/pull/74

I think this really improves the DX for the template because it reduces the amount of docs and configuration that a  developer needs to use.

[2022-05-02 14:26] willfore opened #75 "Cannot publish Function after updating template"
Needed to make use of Go 1.17 modules. Followed guide to upgrade the template:

Inside of func folder did the following:

`rm -rf template/golang-http template/golang-middleware`

Install new templates
`faas-cli template store pull golang-http`

Tidy modules
`go mod tidy`

Try to publish function and get the following error:
[code]

## Expected Behaviour
Upgrade template and publish app

## Your E

[2022-05-02 14:41] alexellis commented on #75
Hi Billy,

The version of the template you have has other changes, which means the import should be updated for your function to point at `github.com/openfaas/templates-sdk/go-http`

Here is an example of what it should look like now:

[code]

This then gives:

[code]

This is my go.mod file for a test function:

[code]

Let me know if this resolves the problem you're facing.

Alternatively, you c

[2022-05-02 15:12] willfore commented on #75
I made the suggested changes after go mod tidy I have the following in go.mod

[code]

When publishing now I run into

`#26 [build 13/13] RUN CGO_ENABLED=0 GOOS=linux GOARCH=amd64     go build --ldflags "-s -w" -a -installsuffix cgo -o handler .
#26 0.136 main.go:16:2: package handler/function is not in GOROOT (/usr/local/go/src/handler/function)
#26 ERROR: process "/bin/sh -c CGO_ENABLED=${CGO_EN

[2022-05-02 16:36] willfore commented on #75
changing module name from `myfunc` to `handler/function` fixed the issue.

[2022-05-02 21:50] alexellis commented on #75
OK to close the issue?

[2022-05-02 21:59] willfore commented on #75
All good.

[2022-05-02 21:59] #75 closed, assigned to nobody

[2022-05-03 14:57] alexellis commented on #75
/lock: resolved

[2022-05-03 14:57] alexellis commented on #75
If anyone else has similar issues, feel free to open your own issue on GitHub.

[2022-05-03 15:50] alexellis commented on #73
I've commented on the PR thanks.

[2022-05-05 09:06] alexellis commented on #73
To recap from the community call, we have two prescriptive configurations for two separate use-cases:

1) Go modules, with no use of vendoring or private modules - use as per normal with GO111MODULE=on
2) Vendoring for the purposes of caching lots of dependencies or for private Go code - use with GO111MODULE=off and GOFLAGS=-mod=vendor

1 is the usual expected case, which means Go workspaces can b

[2022-05-05 14:09] LucasRoesler commented on #73
Let's clear one thing up, workspaces have at least two distinct use-cases that can even overlap

1. you have a folder with multiple modules, e.g. I have `openfaas/faas-netes` and `openfaas/of-watchdog`. I can use a workspace so that I can open `openfaas/` in my IDE/editor and code completion and linting will work as expected for each module. Without a workspace definition, you need to open each fo

[2022-06-30 15:03] kevin-lindsay-1 commented on #73
Where are we at with this?

The golang template builds have been going slow as a result to this unintentional behavior introduced from 1.17 to 1.18, and it's still not fixed, and seems like there's no action items to actually do anything about it.

I'm considering not using OF public store templates at this rate, because opinions are great and all, but this made all builds about 5x slower for me.

[2022-06-30 18:45] alexellis commented on #73
The context of this comment is a bit surprising given that we covered this exact topic on the community call with you present only yesterday, a few hours ago.

That - and a patch was made specifically made for your use-case with Istio to the OpenFaaS gateway, delivered yesterday.

So the tone feels a bit off.

That said.

What is the specific change that made the builds 5x slower? Is it that the v

[2022-06-30 19:00] alexellis commented on #73
Kevin,

Does the following from [a much earlier comment](https://github.com/openfaas/golang-http-template/issues/73#issuecomment-1099309266) in your stack.yml work as desired?

[code]

[2022-06-30 19:10] kevin-lindsay-1 commented on #73
@alexellis

[2022-06-30 19:26] kevin-lindsay-1 commented on #73
Here is my docker build for my `sleep` function:
[code]

[2022-06-30 19:28] kevin-lindsay-1 commented on #73
No, what you asked for was proof that it was downloading modules, which Lucas corroborated.

[2022-06-30 20:45] kevin-lindsay-1 commented on #73
I don't recall anybody asking me anything about this issue. A number of people are given the floor during the community call, I don't always hear everything everyone says around me.

I resent the implication you're making here that you think waiting 4 months to have an issue fixed is being needy.

Check yourself before you try checking me.

[2022-06-30 20:50] kevin-lindsay-1 commented on #73
I don't think you know what's going on in this issue.

[2022-07-01 11:36] alexellis commented on #73
Then can you please clearly explain what you think it is, or raise another issue?

My understanding from the open PR is that the vendor folder is being ignored, and modules are downloading vendored dependencies. This increase build time.

Are we on the same page here or not?

Where is the source code for your "sleep" example?

Unless I'm missing something, there is no issue needing to be fixed, on

[2022-07-01 13:50] alexellis opened #78 "Unable to use vendoring with golang-http"
## Why do you need this?

I need to be able to use vendoring with the golang-http template because it is how I get private Go code into my functions.

## Expected Behaviour

This should work without error, when using a vendor folder and any other stack.yml flags or build-args required:

[code]

## Current Behaviour

[code]

## List All Possible Solutions and Workarounds

1) Create a new separate t

[2022-07-01 14:15] alexellis commented on #78
@LucasRoesler do you see any other variations for potential solutions?

[2022-07-01 15:39] willfore commented on #78
I think 3 would be the best solution. Seems I would need to change all of my functions :(.  I personally don't use vendoring at all. I prefer to simply name modules in my functions or create and import my own modules to use them.

[2022-07-01 16:14] alexellis commented on #78
Thanks for the input Billy.

If we went ahead with 3) and didn't give it a brand new name, then there are a couple of scenarios:

A) The change for all your functions could potentially be done with a search and replace across all files in VSCode.

B) You could also use the tag or SHA of before we make the change:

[code]

One other option for 3) is for us to keep maintaining (for 6 mo?) a branch f

[2022-07-01 16:18] willfore commented on #78
i will just make the changes whenever needed and roll the new ones out. Maintaining a classic may be a good idea but everyone has to change anyway since it's a core go problem. With enough notice and planned upgrade it shouldn't be an issue.

[2022-07-01 17:20] kevin-lindsay-1 commented on #78
Personally I have no preference between `golang-http` and `golang-middleware`. It would probably be nice to have a guide to move over the functionality that's abstracted away, such as `WithContext`.

Only thing I would currently change about `golang-http`'s SDK is to instead allow the user to manually read the body, as reading all and converting it a `[]byte` for the user has the disadvantage of m

[2022-07-01 20:19] alexellis commented on #78
Hi Kevin,

The approach where the function has a main is 4). It would not duplicate the entry point code as per your PoC, but reference a separate repository, i.e.

[code]

If you don't want to buffer the request into memory, and you have a large request, then you should use golang-middleware instead.

You don't use WithContext when using golang-middleware, you can just use the context from the ht

[2022-07-01 20:46] kevin-lindsay-1 commented on #78
Good points, and yeah it sounds like our use cases have expanded a little, and it seems like our team is growing out of `golang-http`. It seems to me like the abstractions that it offers are something that a given user will probably inevitably have at least 1 function that needs a little more power, like streaming the HTTP body.

This pushes me in favor of "2", I'll probably be refactoring our stu

[2022-08-11 23:41] occamist commented on #78
I found a hacky way to build but it is essentially localizing the req/res models(to be honest, I wanted to remove this intermediary a while ago by including that file into golang-http templates), I think golang-http template can exist but we need to localize github.com/alexellis/templates-sdk/go-http into that repository if that makes sense.

Example can be found [here](https://github.com/MrWormHo

[2022-08-13 19:30] alexellis commented on #78
Hi @MrWormHole that's similar to how the "go" classic template works. For some reason I can't remember, we moved away from that to a separate dependency. It could have been about intellisense, IDEs or unit-testing.

So this may (with additional validation) be an alternative to the interfaces that I've suggested above.

Alex

[2022-08-13 23:28] occamist commented on #78
I can understand totally why it was moved to a separate place but for golang-http template to work with go.work, I feel like we need to localize this into golang-http repository, the impact is changing all the docs for faasd examples but it will probably not impact anywhere else if go-http is used somewhere else outside of these templates.

since golang-http has its own mod file with "handler" I k

[2022-08-16 16:54] LucasRoesler commented on #78
@alexellis and @MrWormHole

I think after a lot of time thinking on this, that just reverting to the previous behavior before workspaces makes the most sense. I am not a purist on this, if a little bash makes the template work smoothly for 99% of use-cases, then let's use some bash. Especially because the bash script is just calling some `go mod edit` commands vs directly editing the files, it is

[2022-08-17 12:19] occamist commented on #78
@LucasRoesler @alexellis
makes sense to me, I will try it out at the weekend but could we use shell scripts part for only golang-http and keep the go.work in golang-http-middlewares?

nothing is wrong with working scripts, it is just maintenance overhead sometimes(better if it was possible to abstract away), I think go.work use case in middlewares is a top notch use case of workspaces in this proj

[2022-08-17 13:59] alexellis commented on #78
It looks like we have three main options for going forward.

1) Archive the golang-http template
2) Retain workspaces, without bash scripts and use the interface change as I proposed, which will require all users to make some changes to continue using the template, along with fixes from us to documentation, blog posts, example repos and eBooks.
3) Revert to how things were prior to the introductio

[2022-08-27 15:02] occamist commented on #78
I did follow up on number 3 after giving tons of thoughts; I have followed up Lucas's feat-revert-to-bash-scripts branch and opened up this https://github.com/openfaas/golang-http-template/pull/81

[2022-09-30 20:28] alexellis commented on #78
I've hacked a bit on my fork of the template:

https://github.com/alexellis/golang-http-template

Then this example shows a vendored public dependency https://github.com/alexellis/golang-http-template/tree/master/withlogrus

[2022-10-08 00:21] occamist commented on #78
I have checked gohttp.Request and gohttp.Response, I can't say I like this approach. For example, if I want to test the handler for integration tests(checking gohttp.Responses and errors without mocks), I have to use NewFunctionRequest from http Request struct for my testdata in every integration test.

The second reason I have is I think noone will have time to update old articles that have done

[2022-10-12 08:15] #78 closed, assigned to nobody